a {
  font-size: 1.5em;
}

span {
  color: red;
}

#new_listing {
  border: 1.5px solid grey;
  border-radius: 4px;
  padding: 1%;
  background: #e8e8e8;
}

#background {
  background: #e8e8e8;
  padding: 1%;
  border-radius: 4px;
}

#desc{
  width: 80%;
  height: 80px;
}

#border {
  border-radius: 10px;
  padding: 1%;
}

input {
  border-radius: 4px;
  border-style: none;
}

#details input{
  width: 100%;
}

#details button {
  width: 100%;
}

#content {
  margin-left: 2%;
}

#content p {
  font-size: 1.15em;
}

#price {
  margin-top: 3%;
  margin-left: 2%;
}

img {
  width: 100%;
}

.my_listings {
  border: 1.5px solid grey;
  border-radius: 4px;
  background: #e8e8e8;
}
