<div class="row">
  <p><a [routerLink]="['browse']">Browse</a> &nbsp; &nbsp; <b>|</b> &nbsp; &nbsp;<a [routerLink]="['mylistings']">My Listings</a> &nbsp; &nbsp; <b>|</b> &nbsp; &nbsp;<a (click)="logOut()">Log Off</a></p>
</div>

<div class="row" id="new_listing">
<form name="formData" #formData="ngForm" (submit)="onSubmit(formData)">
  <h2>Create Listing</h2>
  <div class="col-md-3 col-lg-3">
    <h4>Image Upload</h4>
    <input type="file" name="image" [(ngModel)]='puppy.image' #image='ngModel'>
    <img src="" alt="">
  </div>

    <div class="col-md-6 col-lg-6">
      <h5>Name:</h5>
      <input name="name" placeholder="name" [(ngModel)]='puppy.name' #name='ngModel' required>
      <span *ngIf="!name.valid && name.dirty">Don't forget to name your puppy :)</span>
      <h5>Description:</h5>
      <input name="description" placeholder="description" [(ngModel)]='puppy.description' #description='ngModel' required id="desc">
      <span *ngIf="!description.valid && description.dirty">Please provide a description.</span>
      <br><br>
    </div>
    <div class="col-md-2 col-lg-2" id="details">
      <h5>Price:</h5>
      <input name="price" [(ngModel)]='puppy.price' #price='ngModel' required>
      <span *ngIf="!price.valid && price.dirty">Price required</span>
      <h5>Location:</h5>
      <input name="location" [(ngModel)]='puppy.location' #location='ngModel' required><br><br>
      <span *ngIf="!location.valid && location.dirty">Where is your puppy located?</span>
      <button type="submit" name="submit" class="btn btn-success" [disabled]="!(formData.valid)">Create</button>
    </div>
  </form>

</div><br><br>

<div id="background">
  <h2>Edit Listings</h2>
  <div *ngFor="let puppy of puppies">
    <div *ngIf="puppy._user == userID">
      <form name="formData" #formData="ngForm" (submit)="update(formData, puppy._id)">
        <div class="col-md-3 col-lg-3">
          <h4>Image Upload</h4>
          <img src="" alt="">
        </div>

          <div class="col-md-6 col-lg-6">
            <h5>Name:</h5>
            <input name="name" placeholder="name" [(ngModel)]='puppy.name' #name='ngModel' required placeholder="{{puppy.name}}">
            <span *ngIf="!name.valid && name.dirty">Don't forget to name your puppy :)</span>
            <h5>Description:</h5>
            <input name="description" placeholder="description" [(ngModel)]='puppy.description' #description='ngModel' required id="desc" placeholder="{{puppy.description}}">
            <span *ngIf="!description.valid && description.dirty">Please provide a description.</span>
            <br><br>
          </div>
          <div class="col-md-2 col-lg-2" id="details">
            <h5>Price:</h5>
            <input name="price" [(ngModel)]='puppy.price' #price='ngModel' required placeholder="${{puppy.price}}">
            <span *ngIf="!price.valid && price.dirty">Price required</span>
            <h5>Location:</h5>
            <input name="location" [(ngModel)]='puppy.location' #location='ngModel' required placeholder="{{puppy.location}}"><br><br>
            <span *ngIf="!location.valid && location.dirty">Where is your puppy located?</span>
            <button type="submit" name="submit" class="btn btn-warning">Update</button><br><br>
            <button name="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
    </div>
  </div>
</div>
