<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="row">
      <h1>Enter Username:</h1>
    </div><br>

    <div class="wrapper">
      <div class="input">
        <form name="formData" #formData="ngForm" (submit)="onSubmit(formData)">
          <label>Username:&nbsp;</label>
          <input name='user' [(ngModel)]='user.user' #user='ngModel' required minlength='3'>
          <button type="submit" class="btn btn-success" [disabled]="!(user.valid)">Login</button>
        </form>
      </div>
      <span *ngIf="!user.valid && user.dirty">Name required.<br><br></span>
    </div>

  </body>
</html>
