<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="wrapper">

      <div class="row">
        <h1>PM - Puppy Manager</h1><br>
        <a [routerLink]="['home']" id="homeLink">Home</a>
        <a [routerLink]="['products']" >Puppy List</a>
        <a [routerLink]="['products', 'new']">Puppy Creation</a>
      </div><br>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" id="main">
        <router-outlet></router-outlet>
      </div>
    </div>

    </div>

  </body>
</html>
